body {
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  overflow: visible;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.screen {
  width: 347px;
  height: 301px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  position: absolute;
  left: 94px;
  top: 98px;
  z-index: 11;
}

div.gameboy {
  position: relative;
  z-index: 10;
  float: left;
}

img.gameboy {
  width: 538px;
  position: relative;
  z-index: 1;
}

.romFileInput {
  padding-left: 0px;
}

.backgroundDebug {
  width: 400px;
  height: 400px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  vertical-align: top;
}

.tilesDebug {
  width: 400px;
  height: 600px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  vertical-align: top;
}

.debugWindow {
  display: none;
  float: left;
  width: 820px;
  padding-top: 10px;
}

.debugHeader {
  color: white;
}

.debugOutput {
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: small;
}

button.mainMenu {
  background-color: #ec1d3e;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: medium;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: #f7d6aa;
  border: none;
  margin: 5px;
}

div.mainMenu {
  padding: 5px;
  padding-top: 25px;
}

div.main {
  display: flex;
}

div.instructions {
  color: #f7d6aa;
  margin-left: 8px;
}

.startButton {
  width: 88px;
  height: 39px;
  position: absolute;
  top: 744px;
  left: 278px;
  z-index: 20;
}

.selectButton {
  width: 88px;
  height: 39px;
  position: absolute;
  top: 744px;
  left: 170px;
  z-index: 20;
  /* opacity: 0; */
}

.AButton {
  width: 88px;
  height: 89px;
  position: absolute;
  top: 535px;
  left: 388px;
  z-index: 20;
  /* opacity: 0; */
}

.BButton {
  width: 88px;
  height: 89px;
  position: absolute;
  top: 625px;
  left: 314px;
  z-index: 20;
  /* opacity: 0; */
}

.LeftButton {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 569px;
  left: 53px;
  z-index: 20;
  /* opacity: 0; */
}

.RightButton {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 569px;
  left: 144px;
  z-index: 20;
  /* opacity: 0; */
}

.UpButton {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 517px;
  left: 98px;
  z-index: 20;
  /* opacity: 0; */
}

.DownButton {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 620px;
  left: 98px;
  z-index: 20;
  /* opacity: 0; */
}
